<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <ul id="example-1">
      <li v-for="item in items">
        {{ item.message }}
      </li>
      <ul>
        <template v-for="item in items">
          <li>{{ item.message }}</li>
          <li class="divider" role="presentation"></li>
        </template>
      </ul>
    </ul>
    <ul id="example-2">
      <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
      </li>
    </ul>
    <div id="v-for-object" class="demo">
      <ul>
        <li v-for="value in object">
          {{ value }}
        </li>
      </ul>
      <label>(value, name) in object</label>
      <ul>
        <li v-for="(value, name) in object">
          {{ name }}: {{ value }}
        </li>
      </ul>
      <label>(value, name, index) in object</label>
      <ul>
        <li v-for="(value, name, index) in object">
          {{ index }}. {{ name }}: {{ value }}
        </li>
      </ul>
      <ol>
        <li v-for="(value, name) in userProfile">
          {{name}}: {{value}}
        </li>
      </ol>
      <ul>
        <li v-for="n in evenNumbers">{{ n }}</li>
        <br />
        <li v-for="n in even(numbers)">{{ n }}</li>
      </ul>
      <div>
        <span v-for="n in 10">{{ n }} </span>
      </div>
    </div>
    <p>
      객체를 반복할 때 순서는 Object.keys()의 키 나열 순서에 따라 결정됩니다. 이
      순서는 JavaScript 엔진 구현간에 일관적이지는 않습니다.
    </p>
    <p>
      객체나 배열처럼, 기본 타입(Primitive value)이 아닌 값을 키로 사용해서는
      안됩니다. 대신 문자열이나 숫자를 사용하세요.
    </p>
    <div id="example-3">
      <ul>
        <li v-for="todo in todos" v-if="!todo.isComplete">
          {{ todo }}
        </li>
      </ul>
      <my-component
        v-for="item in items"
        :key="item.id"
        :item="item"
        v-bind:index="index"
        v-bind:key="item.id"
      >
      </my-component>
    </div>
    <br />
    <div id="todo-list-example">
      <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
          v-model="newTodoText"
          id="new-todo"
          placeholder="E.g. Feed the cat"
        />
        <button>Add</button>
      </form>
      <ul>
        <li
          is="todo-item"
          v-for="(todo, index) in todos"
          v-bind:key="todo.id"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index, 1)"
        ></li>
      </ul>
    </div>
  </body>
  <script>
    var example1 = new Vue({
      el: "#example-1",
      data: {
        items: [{ message: "Foo" }, { message: "Bar" }]
      }
    });
    var example2 = new Vue({
      el: "#example-2",
      data: {
        parentMessage: "Parent",
        items: [{ message: "Foo" }, { message: "Bar" }]
      }
    });
    var vm = new Vue({
      el: "#v-for-object",
      data: {
        object: {
          title: "How to do lists in Vue",
          author: "Jane Doe",
          publishedAt: "2016-04-10"
        },
        userProfile: {
          name: "Anika"
        },
        numbers: [1, 2, 3, 4, 5]
      },
      computed: {
        evenNumbers: function() {
          return this.numbers.filter(function(number) {
            return number % 2 === 0;
          });
        }
      },
      methods: {
        even: function(numbers) {
          return numbers.filter(function(number) {
            return number % 2 === 0;
          });
        }
      }
    });
    setInterval(function() {
      // 새로운 반응형 속성을 다음과 같이 추가합니다.
      vm.userProfile = Object.assign({}, vm.userProfile, {
        age: 27,
        favoriteColor: "Vue Green"
      });
    }, 1000);

    Vue.component("my-component", {
      props: ["item", "index"],
      template: `<li>{{item.text}}</li>`
    });

    var example3 = new Vue({
      el: "#example-3",
      data: {
        todos: [
          {
            value: 1,
            isComplete: true
          },
          {
            value: 2,
            isComplete: false
          },
          {
            value: 3,
            isComplete: true
          }
        ],
        items: [
          { id: 1, text: "JavaScript 배우기" },
          { id: 2, text: "Vue 배우기" },
          { id: 3, text: "무언가 멋진 것을 만들기" }
        ],
        index: 2
      }
    });
    Vue.component('todo-item', {
      template: `\
        <li>\
          {{ title }}\
          <button v-on:click="$emit(\'remove\')">Remove</button>\
        </li>\
      `,
      props: ['title']
    })
    
    new Vue({
      el: '#todo-list-example',
      data: {
        newTodoText: '',
        todos: [
          {
            id: 1,
            title: 'Do the dishes',
          },
          {
            id: 2,
            title: 'Take out the trash',
          },
          {
            id: 3,
            title: 'Mow the lawn'
          }
        ],
        nextTodoId: 4
      },
      methods: {
        addNewTodo: function () {
          this.todos.push({
            id: this.nextTodoId++,
            title: this.newTodoText
          })
          this.newTodoText = ''
        }
      }
    })
  </script>
</html>
